html, body{
  margin: 0;
}
.container {
  margin: 40px auto 0 auto;
  max-width: 1200px;
}

.nav-container {
  margin: auto;
}

a{
  text-decoration: none;
}

.ql-editor{
  min-height:200px;
}

@media only screen and (min-width: 1200px) {
  .nav-container {
    min-width: 1200px;
  }
}